body {
  margin: 30px 0;
  background: #34495e;
}
.text {
  font-size: 90px;
  color: #34495e;
  line-height: 80px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 160px;
  margin-top: 60px;
  text-shadow: 0px 0px 0 #222f3d,
   1px 1px 0 #222f3d,
   1px 1px 0 #222f3d,
   2px 2px 0 #222f3d,
   3px 3px 0 #222f3d,
   4px 4px 0 #222f3d,
   4px 4px 0 #222f3d,
   5px 5px 0 #222f3d,
   6px 6px 0 #222f3d,
   6px 6px 0 #222f3d,
   7px 7px 0 #222f3d,
   8px 8px 0 #222f3d,
   8px 8px 0 #222f3d,
   9px 9px 0 #222f3d,
   10px 10px 0 #222f3d,
   11px 11px 0 #222f3d,
   11px 11px 0 #222f3d,
   12px 12px 0 #222f3d,
   13px 13px 0 #222f3d,
   13px 13px 0 #222f3d,
   14px 14px 0 #222f3d,
   15px 15px 0 #222f3d,
   16px 16px 0 #222f3d,
   16px 16px 0 #222f3d,
   17px 17px 0 #222f3d,
   18px 18px 0 #222f3d,
   18px 18px 0 #222f3d,
   19px 19px 0 #222f3d,
   20px 20px 0 #222f3d,
   21px 21px 0 #222f3d,
   21px 21px 0 #222f3d,
   22px 22px 0 #222f3d,
   23px 23px 0 #222f3d,
   23px 23px 0 #222f3d,
   24px 24px 0 #222f3d,
   25px 25px 0 #222f3d,
   25px 25px 0 #222f3d,
   26px 26px 0 #222f3d,
   27px 27px 0 #222f3d,
   28px 28px 0 #222f3d,
   28px 28px 0 #222f3d,
   29px 29px 0 #222f3d,
   30px 30px 0 #222f3d,
   30px 30px 0 #222f3d,
   31px 31px 0 #222f3d,
   32px 32px 0 #222f3d,
   33px 33px 0 #222f3d,
   33px 33px 0 #222f3d,
   34px 34px 0 #222f3d,
   35px 35px 0 #222f3d;
  color: #6789ab;
  transform: skew(0deg);
}
.string1 {
  color: #E91E63;
}
.string2 {
  color: #009688;
}
.string3 {
  color: #FAA916;
}
.alt {
  font-family: georgia;
  font-style: italic;
  text-transform: lowercase;
  color: #fff;
}
.code {
  font-family: courier;
  font-size: 120px;
  color: #fff;
}
.hr {
  position: relative;
  padding-bottom: 100px;
}
.threed {
  display: inline-block;
  padding: 20px;
  background: #FF5722;
  color: #fff;
  box-shadow: 0px 0px 0 #222f3d, 1px 1px 0 #222f3d, 1px 1px 0 #222f3d, 2px 2px 0 #222f3d, 3px 3px 0 #222f3d, 4px 4px 0 #222f3d, 4px 4px 0 #222f3d, 5px 5px 0 #222f3d, 6px 6px 0 #222f3d, 6px 6px 0 #222f3d, 7px 7px 0 #222f3d, 8px 8px 0 #222f3d, 8px 8px 0 #222f3d, 9px 9px 0 #222f3d, 10px 10px 0 #222f3d, 11px 11px 0 #222f3d, 11px 11px 0 #222f3d, 12px 12px 0 #222f3d, 13px 13px 0 #222f3d, 13px 13px 0 #222f3d, 14px 14px 0 #222f3d, 15px 15px 0 #222f3d, 16px 16px 0 #222f3d, 16px 16px 0 #222f3d, 17px 17px 0 #222f3d, 18px 18px 0 #222f3d, 18px 18px 0 #222f3d, 19px 19px 0 #222f3d, 20px 20px 0 #222f3d, 21px 21px 0 #222f3d, 21px 21px 0 #222f3d, 22px 22px 0 #222f3d, 23px 23px 0 #222f3d, 23px 23px 0 #222f3d, 24px 24px 0 #222f3d, 25px 25px 0 #222f3d, 25px 25px 0 #222f3d, 26px 26px 0 #222f3d, 27px 27px 0 #222f3d, 28px 28px 0 #222f3d, 28px 28px 0 #222f3d, 29px 29px 0 #222f3d, 30px 30px 0 #222f3d, 30px 30px 0 #222f3d, 31px 31px 0 #222f3d, 32px 32px 0 #222f3d, 33px 33px 0 #222f3d, 33px 33px 0 #222f3d, 34px 34px 0 #222f3d, 35px 35px 0 #222f3d, 35px 35px 0 #222f3d, 36px 36px 0 #222f3d, 37px 37px 0 #222f3d, 37px 37px 0 #222f3d, 38px 38px 0 #222f3d, 39px 39px 0 #222f3d, 40px 40px 0 #222f3d, 40px 40px 0 #222f3d, 41px 41px 0 #222f3d, 42px 42px 0 #222f3d, 42px 42px 0 #222f3d, 43px 43px 0 #222f3d, 44px 44px 0 #222f3d, 45px 45px 0 #222f3d, 45px 45px 0 #222f3d, 46px 46px 0 #222f3d, 47px 47px 0 #222f3d, 47px 47px 0 #222f3d, 48px 48px 0 #222f3d, 49px 49px 0 #222f3d, 49px 49px 0 #222f3d, 50px 50px 0 #222f3d, 51px 51px 0 #222f3d, 52px 52px 0 #222f3d, 52px 52px 0 #222f3d, 53px 53px 0 #222f3d, 54px 54px 0 #222f3d, 54px 54px 0 #222f3d, 55px 55px 0 #222f3d, 56px 56px 0 #222f3d, 57px 57px 0 #222f3d, 57px 57px 0 #222f3d, 58px 58px 0 #222f3d, 59px 59px 0 #222f3d, 59px 59px 0 #222f3d, 60px 60px 0 #222f3d, 61px 61px 0 #222f3d, 62px 62px 0 #222f3d, 62px 62px 0 #222f3d, 63px 63px 0 #222f3d, 64px 64px 0 #222f3d, 64px 64px 0 #222f3d, 65px 65px 0 #222f3d, 66px 66px 0 #222f3d, 66px 66px 0 #222f3d, 67px 67px 0 #222f3d, 68px 68px 0 #222f3d, 69px 69px 0 #222f3d, 69px 69px 0 #222f3d, 70px 70px 0 #222f3d;
  /* text-shadow: none; */
  text-shadow: 0px 0px 0 #d43300, 1px 1px 0 #d43300, 1px 1px 0 #d43300, 2px 2px 0 #d43300, 3px 3px 0 #d43300, 4px 4px 0 #d43300, 4px 4px 0 #d43300, 5px 5px 0 #d43300, 6px 6px 0 #d43300, 6px 6px 0 #d43300;
  border-radius: 30px;
}
