        header{
            position: relative;
            width: 100%;
            height: 6em;
            margin: 1em 0 2em 0;
            line-height: 1.5em;
            text-align: center;
            font-size: 1.5em;
            background-color: #454547;
            color: #999;
            box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
            border-radius: .3em;
            overflow: hidden;
        }
        header>h2{
            position: absolute;
            top: 0;
            left: 0;
            margin: .4em 0 0 .9em;
            overflow: hidden;
            color: #FFBA7E;
        }
        header>h3{
            position: absolute;
            top: 2em;
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: left;
            color: #CDCDCD;
            overflow: hidden;
        }
        header>h4{
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0 .9em .4em 0;
            overflow: hidden;
            color: #71BA8E;
        }
        header>h2>span{
            font-weight: bold;
            overflow: hidden;
        }

        header a{
            text-decoration: none;
            color: inherit;
            border-bottom: .1em solid #145878;
        }
        header a:visited{
           color: inherit;
        }
        header a:hover{
            text-decoration: none;
            background-color: #239DD5;
            color: inherit;
        }
        header a.active{
            color: inherit;
        }
        header a.nonactive{
            color: #BBB;
        }
