        /*fonts*/
        @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic);
        @import url(https://fonts.googleapis.com/css?family=Glass+Antiqua);
        @import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);
        @page {
            size: 21cm 29.7cm;
            margin: 30mm 45mm 30mm 45mm;
        }
        html{
            /*background-color: #cdcdcd;*/
        }
        body{
            line-height: 1.2em;
            color: #4d4b4d;
            background-color: #fff;
            font-family: 'Titillium Web', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
        }
        ol,ul,li{
            margin: 0;
            padding: 0;
        }
        article{
            line-height: 1.5em;
        }
        article>h2, article>section>h2{
            font-size: 1.2em;
            line-height: 1.2em;
            /*font-style: italic;*/
            color: #888;
            margin: 1.2em 0em .3em 0;
        }
        .iep_syllabus_title{
            /*font-size: 1.2em;*/
        }
        .iep_syllabus_title:hover{
            /*font-size: 1.4em;*/
            /*cursor: pointer;*/
        }
        .iep_syllabus_title>.show_hide_buttons{
            display: none;
        }
        .iep_syllabus .total_hours{
            margin-top: -0.5em;
            float: right;
            color: #BA7274 ;
        }
        /*~~~~~~~~~~ text   ~~~~~~~~~~*/
        p{
            margin: .2em 0;
        }
        .small{
            font-size: .8em;
        }
        /*~~~~~~~~~~ links  ~~~~~~~~~~*/
        a{
            text-decoration: none;
            color: inherit;
            border-bottom: .1em solid #145878;
        }
        a:visited{
           color: inherit;
        }
        a:hover{
            text-decoration: none;
            background-color: #239DD5;
            color: inherit;
        }
        a.active{
            color: inherit;
        }
        a.nonactive{
            color: #BBB;
        }

        /*~~~~~~~~~~ The list  ~~~~~~~~~~*/
        .iep_syllabus_themes{
            margin-bottom: 1em;
        }
        .iep_syllabus_themes>li{
            margin: 1em 0 0 0;
            list-style-type: none;
        }
        .iep_syllabus_themes>li>h3{
            display: inline-block;
            width: 100%;
            font-size: 1.1em;
            font-weight: bold;
            color: #555555;
            line-height: 1.5em;
            letter-spacing: .1em;
            border-bottom: .1em solid #EADAAD;
        }
        .iep_syllabus_themes>li>h3:hover{
            cursor: pointer;
        }
        .iep_syllabus_themes h3>a{
            text-decoration: none;
            border: 0;
        }
        .iep_syllabus_themes h3>a>i{
            margin-right:.8em;
        }
        .iep_syllabus_themes .label{
            display: inline-block;
            width: 85%;
            vertical-align: middle;
        }
        .iep_syllabus_themes .arrow_down::after{
            /*content: "\f078";*/
            content: "\f0d7";
            margin-left: .5em;
            font-family: FontAwesome;
            text-decoration: none;
            font-size: .9em;
            color: #FFBA7E;
        }
        .iep_syllabus_themes .arrow_up::after{
            /*content:  "\f077";*/
            content: "\f0d8";
            margin-left: .5em;
            font-family: FontAwesome;
            font-size: .9em;
            text-decoration: none;
            color: #71BA8E;
        }
        .iep_syllabus_themes>li>h3:hover>.label{
            /*font-size: 1.1em;*/
        }
        .iep_syllabus_themes .arrow{
            vertical-align: bottom;
            font-size: .8em;
            color: #FF7C00;
            content: "\f00c";
            font-family: FontAwesome;
            text-decoration: none;
            /*color: #437F73;*/
        }
        .iep_syllabus_themes>li>h3:hover>.arrow{
            font-size: 1.2em;
        }
        .iep_syllabus_themes .hours{
            float: right;
            padding: 0 0 0 1em;
            font-weight: normal;
            /* color: #999; */
        }
        .iep_syllabus_themes .hours::after{
            content: ' h.';
        }
        .iep_syllabus_themes .heading{
            font-size: 1.8em;
            line-height: 1.5em;
            font-style: italic;
            color: #888;
            margin: 1.5em .2em .3em 0;
        }
        .iep_syllabus_sub_themes{
            margin-left: .3em;
            /* margin-right: .3em; */
        }
        .iep_syllabus_sub_themes>li{
            line-height: 1.5em;
            /* padding-right: .5em; */
            border-bottom: 1px dotted #AAA;
        }
        .iep_syllabus_sub_themes .minutes{
            float: right;
            color: #999;
            font-size: .8em;
            font-style: italic;
        }
        .iep_syllabus_sub_themes .minutes::after{
            content: " min.";
        }
        .iep_syllabus_sub_themes .refreshment{
            list-style-type: none;
            /* font-size: .9em; */
            opacity: .9;
            font-style: italic;
        }

        .iep_literature ol li{
            margin-top: 2em;
            line-height: 1.5em;
        }
        .iep_literature .book_name{
            font-style: italic;
        }
        .iep_literature .published{
            font-style: normal;
            /* font-weight: bold; */
        }

        /*~~~~~~~~~~ accents  ~~~~~~~~~~*/
        .iep_syllabus_sub_themes .kw{
                    font-size: 1em;
                    font-style: normal;
                    color: #333;
        }
        .page_break{
            page-break-after: always;
        }
/* ~~~~header ~~~~~ */
header{
    margin:  2em 0 2em 0;
    text-align: center;
}
header h2, header h3, header h4{
    display: inline;
    font-size: 1.5em;
    margin-left: 1em;
}
/* ~~~~ footer ~~~~ */
footer {
    display: none;
}
